<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8"/>
	<title>Multi-Agent System</title>
	<style>
	  .hidden {
	      display: none;
	  }
	</style>
	<script src="https://unpkg.com/react@16.7.0/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
	<script src="build/app.js" defer></script>
    </head>
    <body>
      <div id="root"></div>
    </body>
</html>
